<br>
<h1>京都の様子が分かるツイートかどうかの判断</h1>
<div style="font-size:12pt;">
  <br>
  <span>以下の注意事項を読み、作業を開始してください。</span>
  <br><br>
  <ol>
    <li><font color="red">京都観光</font>に有益な京都の<font color="red">様子が分かる</font>ツイートかどうか判断してください。基準は以下の4つです。
      <br>
      <font color="red">※ ツイートはボタンをクリックしている間しか表示されません。</font><br>
      <font color="red">※ 画像が大きいとツイート本文が見えない場合があります。クリックしたまま、キーボードの矢印キーで下にスクロールしてください。</font></li>
    <ul>
      <li>京都に関するツイートかどうか。京都とは<font color="red">京都府全体</font>を指します。</li>
      <li>観光地や駅など<font color="red">観光に関する場所</font>（例えば、「京都駅」「清水寺」「伏見稲荷の近くのカフェ」）かどうか。</li>
      <li><font color="red">様子</font>が分かるかどうか。様子とは「混雑している」「雨が降ってきた」「電車が遅延している」「紅葉が見頃だ」などが当てはまります。</li>
      <li><font color="red">文字</font>から様子が分かるかどうか。</li>
      <li><font color="red">2016年7月10日以降</font>に投稿されたツイートかどうか。</li>
    </ul>
    <br>
    <li>京都の様子が分からないツイートと判断された場合は、その理由を記述してください。</li>
    <br>
    <li>京都の様子が分ツイートと判断された場合は、ツイートのジャンルを選択肢の中から当てはまるものすべてを選んでください。</li>
  </ol>
  <br><br>
  <p>送信ボタンを押すと「We're sorry, ...」と表示される場合があります。一度ブラウザを閉じてからやり直してください。</p>
  <br><br>
  <p>京都に関して様子が<font color="blue">分かる</font>ツイートの例①</p>
  <p>　「こんな時間やのに京都駅めっちゃ人いる」</p>
  <p>　　→京都駅が人で混雑している様子が分かるのでOKです。</p>
  <br>
  <p>京都に関して様子が<font color="blue">分かる</font>ツイートの例②</p>
  <p>　「こちらも修学旅行生で一杯だった金閣寺。鏡池湖は薄紅色の睡蓮の花が咲き、天気が良かったので逆さ金閣もキレイに見えて非常に美しかったです。金閣寺は拝観券もお札のようで風流の極みだった…」</p>
  <p>　　→金閣寺が混雑していること、天気が良いこと、景観が分かるのでOKです。</p>
  <br>
  <p>京都に関して様子が<font color="blue">分からない</font>ツイートの例①</p>
  <p>　「金閣寺なう」「I'm at 金閣寺」</p>
  <p>　　→ツイート投稿者が金閣寺にいることは分かりますが、金閣寺の様子は分からないのでNGです。</p>
  <br>
  <p>京都に関して様子が<font color="blue">分からない</font>ツイートの例②</p>
  <p>　「(京都 烏丸) この時期だけのマリベルの限定スクエアパンケーキ！」</p>
  <p>　　→広告は京都に関係あってもNGです。</p>
</div>
<br>

<%= link_to '評価開始', evaluation_new_path, class: 'btn btn-primary btn-lg' %>
<%= link_to '戻る', root_path, class: 'btn btn-warning btn-lg' %>