<blockquote class="twitter-tweet" data-lang="ja">
  <a href="https://twitter.com/masason/status/659730015811145728"></a>
</blockquote>

<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary btn-lg btn-block">ここを押してツイートを表示</button>
  </div>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>