<div style="font-size:12pt;">
  <% if user_signed_in? %>
      <br>
      <p>作業を選択してください↓</p>
      <%= link_to '収集作業', tweet_insert_index_path, class: 'btn btn-primary btn-lg'%>&nbsp;&nbsp;
      <%= link_to '評価作業', evaluation_index_path, class: 'btn btn-warning btn-lg' %>
      <br><br>
      <h3>＜ポイントの説明と申請方法＞</h3>
      <ul>
        <li>ツイートの収集や評価を行うことでポイントが付与されます。</li>
        <li>ツイートの収集は審査に通らなければポイントは付与されません。審査は以下のように行われます。（ツイートの評価には審査はありません。）</li>
        <ul>
          <li>あなたが収集したツイートは他の5人に適しているかどうか評価されます。</li>
          <li>5人のうち3人以上が適していると判断した場合に承認され、ポイントが付与されます。</li>
        </ul>
        <li>ポイントは画面上部に記載されます。</li>
        <li>それぞれのポイントの意味と付与されるタイミングは以下の通りです。</li>
        <ul>
          <li>審査中：あなたが収集したツイートのうちまだ審査中であるツイート数です。クリックすると審査状況が確認できます。</li>
          <li>収集ポイント：あなたが収集したツイートが審査に通った時に獲得できるポイントです。1ツイートに対して5ポイント獲得できます。クリックすると承認されたツイートと非承認になったツイートが確認できます。</li>
          <li>評価ポイント：他の方が収集したツイートに対してあなたが評価した時に獲得できるポイントです。1つの評価につき1ポイント獲得できます。</li>
          <li>合計ポイント：収集ポイントと評価ポイントの合計です。</li>
        </ul>
        <li>合計ポイントが100ポイントで20円お支払い致します。</li>
        <li>合計ポイントが100ポイントごとにクラウドワークスで作業報告をしてください。例えば、500ポイント貯められた方は計5回申請する必要があります。</li>
        <li>申請にはユーザ名と申請時の合計ポイントを記載してください。</li>
      </ul>
  <% else %>
      <p style="font-size:16pt;">ようこそ！</p>
      <p>ツイートの収集と他の方が収集したツイートへの評価をしていただきます。</p>
      <p>それぞれの作業の詳しい説明やクラウドワークスでの申請の仕方はログインすると確認できます。</p>
      <br>
      <p>初めて作業をされる方：</p>
      <p>　アカウントを新規登録しログインしてください。</p>
      <br>
      <p>以前作業をされた方：</p>
      <p>　ログインして作業に進んでください。新しくアカウントを登録する必要はありません。</p>
      <br>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary btn-lg'%>&nbsp;&nbsp;
      <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-warning btn-lg' %>
  <% end %>
</div>

