<div style="font-size:130%;">
  <% if user_signed_in? %>
      <br><p>作業を選んでください</p>
      &emsp;
      <%= link_to '新しいツイートを見つける', tweet_insert_index_path, class: 'btn btn-primary btn-lg'%><p></p><p></p>
      &emsp;
      <%= link_to '他のツイートを評価する', evaluation_index_path, class: 'btn btn-warning btn-lg' %>

      <br><br><br>
      <p>ポイントと審査中の説明書く？</p>
  <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary btn-lg'%><p></p><p></p>
      <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-warning btn-lg' %>
  <% end %>
</div>

