<div style="font-size:12pt;">
      <br><br>
  <%= link_to '戻る', home_index_path %>
      <h3>＜ポイント＞</h3>
      <ul>
        <li>ツイートの収集や評価を行うことでポイントが付与されます。</li>
        <li>ポイントは画面上部に記載されます。</li>
        <ul>
          <li>審査中：あなたが収集したツイートのうちまだ審査中であるツイート数です。</li>
          <li>収集ポイント：あなたが収集したツイートに対するポイントです。</li>
          <li>評価ポイント：あなたが評価したツイートに対するポイントです。</li>
          <li>合計ポイント：収集ポイントと評価ポイントの合計です。</li>
        </ul>
      </ul>

      <h3>＜審査とポイント付与条件＞</h3>
      <ul>
        <li>収集</li>
        <ul>
          <li>1ツイート収集すると1ポイント獲得できます。</li>
          <li>複数人の審査に通ったツイートはプラス4ポイント獲得できます。</li>
        </ul>
        <li>評価</li>
        <ul>
          <li>1ツイート評価すると1ポイント獲得できます。</li>
          <li>きちんと評価されていないと判断した場合、ポイント付与の取り消しや今後の作業をお断りする場合がございます。</li>
        </ul>
      </ul>

      <h3>＜申請方法＞</h3>
      <ul>
        <li>作業終了後、クラウドワークスで申請をしてください。</li>
        <li>申請にはユーザ名と申請時の合計ポイントを記載してください。</li>
      </ul>
</div>

