<br>
<br>
<p>作業を行うにはN分程度のチュートリアルを進めることが必要です。</p>
<p>作業をしたいチュートリアルを以下から選んでください↓</p>
<%= link_to '収集', tutorial_tutorial_insert_path, class: 'btn btn-primary btn-lg'%>&nbsp;&nbsp;
<%= link_to '評価', tutorial_tutorial_evaluation_path, class: 'btn btn-warning btn-lg' %>