<body id="all_body">
<div style="font-size:14pt;">
  <br>
  <br>
  <h3>評価作業チュートリアル（３／５）</h3>
  <p>「はい」と答えるべきツイートのの判断基準（場所編）</p>
  <br>
  <p>京都府全体の観光地や交通機関など観光に関する場所に対するツイートが該当します。</p>
  <p>　例：「清水寺」「京都駅」「祇園祭」</p>
  <br>
  <p>では、練習問題です。</p>
  <p>正解すると次へのボタンが押せます。</p>
  <br>



<blockquote class="twitter-tweet" data-lang="ja">
  <%= link_to '', 'https://twitter.com/tomo0247/status/886414154394763264' %>
</blockquote>

  <div style="font-size:14pt;">
    <br><br>
    <p>Q1：京都観光に関する場所の様子が分かりますか?</p>
    <span id="check_q1">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="q1click_yes"><input type="radio" name="evaluation" value="1">&nbsp;はい</span>
        &nbsp;&nbsp;&nbsp;
        <span id="q1click_no"><input type="radio" name="evaluation" value="0">&nbsp;いいえ</span>
        &nbsp;&nbsp;&nbsp;
        <span id="q1click_nan"><input type="radio" name="evaluation" value="2">&nbsp;ツイートが表示されない</span>
      </span>
    <br><br>
    <div id="q2_hint" style="color:#ff0000;">「京都」の野球場が「暑い」ことは分かりますが...</div>
    <br>
    <div id="q2_yes">
      <p>Q2：ツイートのジャンルはなんですか?（当てはまるものすべてにチェックを入れてください）</p>
      <div id='check_q2_yes'>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input id="q2click_weather" type="checkbox" name="category[]" value="0">&nbsp;天気
        &nbsp;&nbsp;
        <input id="q2click_crowd" type="checkbox" name="category[]" value="1">&nbsp;混雑
        &nbsp;&nbsp;
        <input id="q2click_scenery" type="checkbox" name="category[]" value="2">&nbsp;景観
        &nbsp;&nbsp;
        <input id="q2click_traffic" type="checkbox" name="category[]" value="3">&nbsp;交通
        &nbsp;&nbsp;
        <input id="q2click_ivent" type="checkbox" name="category[]" value="4">&nbsp;イベント
        &nbsp;&nbsp;
        <input id="q2click_meal" type="checkbox" name="category[]" value="5">&nbsp;食事
        &nbsp;&nbsp;
        <input id="q2click_spot" type="checkbox" name="category[]" value="6">&nbsp;観光地
        &nbsp;&nbsp;
        <input id="q2click_other" type="checkbox" name="category[]" value="7">&nbsp;その他
      </div>
    </div>
    <div id="q2_no">
      <p>Q2：いいえと答えた理由はなんですか?（当てはまるものすべてにチェックを入れてください）</p>
      <div id='check_q2_no'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_kyoto" type="checkbox" name="reason[]" value="0">&nbsp;京都と関係がないから<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_sightseeing" type="checkbox" name="reason[]" value="1">&nbsp;観光と関係がないから<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_scene" type="checkbox" name="reason[]" value="2">&nbsp;様子が分からないから<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_old" type="checkbox" name="reason[]" value="3">&nbsp;去年の7月10日以前のツイートだから<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_bot" type="checkbox" name="reason[]" value="4">&nbsp;宣伝や広告、botだから<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="q2click_other2" type="checkbox" name="reason[]" value="5">&nbsp;その他
      </div>
    </div>
    <br>
    <div id="q3">
      <p>Q3：特筆すべきこと（オプション）</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea id="q3_keypress" name="option" rows="5" cols="50"></textarea>
    </div>
    <br>
    <br>
    <input type="button" value="送信" id="submit_button" class='btn btn-primary btn-lg' style="color:#FFFFFF;" onClick="document.location='tutorial_evaluation_scene';"></inputbutton>
  </div>
</div>
</body>


<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    jQuery(function () {
        jQuery('#appear').on({
            'mousedown': function (event) {
                event.preventDefault();
                jQuery('span#tweet').show();
            },
            'touchstart': function (event) {
                event.preventDefault();
                jQuery('span#tweet').show();
            },
            'mouseup': function (event) {
                event.preventDefault();
                jQuery('span#tweet').hide();
            },
            'touchend': function (event) {
                event.preventDefault();
                jQuery('span#tweet').hide();
            },
            'mouseout': function (event) {
                event.preventDefault();
                jQuery('span#tweet').hide();
            }
        });

        jQuery("#q2_yes").hide();
        jQuery("#q2_no").hide();
        jQuery("#q2_hint").hide();
        jQuery("#q3").hide();
        jQuery("#submit_button").prop("disabled", true);

        jQuery('#all_body').on({
            'mousemove': function () {
                if (jQuery('input[name=evaluation]:checked').val() == "2") {
                    jQuery("#submit_button").prop("disabled", true);
                    jQuery("#q2_yes").hide();
                    jQuery("#q2_no").hide();
                    jQuery('input:checkbox').prop('checked', false);
                    jQuery("#q3").hide();
                }
                if (jQuery('input[name=evaluation]:checked').val() == "1") {
                    jQuery("#submit_button").prop("disabled", true);
                    jQuery("#q2_yes").show();
                    jQuery("#q2_no").hide();
                    jQuery('input[name="reason[]"]').prop('checked', false)
                    jQuery("#q3").show();
                }
                if (jQuery('input[name=evaluation]:checked').val() == "0") {
                    jQuery("#submit_button").prop("disabled", true);
                    jQuery("#q2_yes").hide();
                    jQuery("#q2_no").show();
                    jQuery('input[name="category[]"]').prop('checked', false)
                    jQuery("#q3").show();
                    jQuery("#q2_hint").show();
                }
                if (jQuery('input[name=evaluation]:checked').val() == "0" && jQuery("#q2click_sightseeing").prop('checked')==true) {
                    jQuery("#submit_button").prop("disabled", false);
                }
            }
        });

    });
</script>
