<div style="font-size:14pt;">
  <br><br>
  <h3>収集作業チュートリアル（５／５）</h3>
  <br>
  <ul>
    <li>写真から京都の様子が分かるツイートでもOKです。</li>
    <li><font color="red">去年の7月10日以降</font>に投稿されたツイートであることを確認してください。</li>
    <li>Q3は特筆すべき事項がある場合のみ記入してください。判断に迷ったことや、その他を選んだ場合はこのような選択肢があると良いという意見など何でも結構です。</li>
  </ul>
  <br>
  <p><font color="red">※ 画像が大きいとツイート本文が見えない場合があります。クリックしたまま、キーボードの矢印キーで下にスクロールしてください。</font></p>
  <p><font color="red">※ ボタンを押してもツイートが表示されない場合は、Q1で「ツイートが表示されない」を選択してください。</font></p>
  <br>
  <p>以上でチュートリアルは終わりです。お疲れ様でした。</p>
  <br>

  <%= link_to '終わる', root_path, class: 'btn btn-primary btn-lg' %>

</div>

