<div style="font-size:14pt;">
  <br><br>
  <h3>収集作業チュートリアル（５／５）</h3>
  <br>
  <ul>
    <li>写真から京都の様子が分かるツイートでもOKです。</li>
    <li><font color="red">2016年7月10日以降</font>に投稿されたツイートで、なるべく最近のツイートにしてください。</li>
    <li>ツイートのURLを調べる方法は<%= link_to 'この記事', 'https://syncer.jp/twitter-how-to-check-tweet-permalink' %>を参考にしてください。</li>
  </ul>
  <br>
  <p>以上でチュートリアルは終わりです。お疲れ様でした。</p>
  <br>

  <%= link_to '終わる', root_path, class: 'btn btn-primary btn-lg' %>

</div>