
<br>
<h1>京都の様子が分かるツイートの収集</h1>
<div style="font-size:12pt;">
  <br>
  <span>以下の注意事項を読み、作業を開始してください</span>
　<ul>
    <li>Twitterから<font color="red">京都観光</font>に有益な京都の<font color="red">様子が分かる</font>ツイートを探し、<font color="red">URL</font>を記入してください。</li>
    <li>京都とは<font color="red">京都府全体</font>を指します。</li>
    <li><font color="red">観光地や駅など観光に関する場所</font>（例えば、「京都駅」「清水寺」「伏見稲荷の近くのカフェ」）の様子が分かるツイートが当てはまります。</li>
    <li>様子とは「混雑している」「雨が降ってきた」「電車が遅延している」「紅葉が見頃だ」などが当てはまります。</li>
    <li><font color="red">文字</font>から様子が分かるツイートが当てはまります。写真のみから判断できるツイートは対象外です。</li>
    <li>ツイートの探し方は自由です。</li>
    <li><font color="red">2016年7月10日以降</font>に投稿されたツイートで、なるべく最近投稿されたツイートにしてください。</li>
  </ul>
  <br>
  <p>ツイートのURLを調べる方法は<%= link_to 'この記事', 'https://syncer.jp/twitter-how-to-check-tweet-permalink' %>を参考にしてください。</p>
  <br>
  <p><font color="blue">京都に関して様子が分かる</font>ツイートの例①</p>
  <p>　「こんな時間やのに京都駅めっちゃ人いる」</p>
  <p>　　→京都駅が人で混雑している様子が分かるのでOKです。</p>
  <br>
  <p><font color="blue">京都に関して様子が分かる</font>ツイートの例②</p>
  <p>　「こちらも修学旅行生で一杯だった金閣寺。鏡池湖は薄紅色の睡蓮の花が咲き、天気が良かったので逆さ金閣もキレイに見えて非常に美しかったです。金閣寺は拝観券もお札のようで風流の極みだった…」</p>
  <p>　　→金閣寺が混雑していること、天気が良いこと、景観が分かるのでOKです。</p>
  <br>
  <p><font color="blue">承認されない</font>ツイートの例①</p>
  <p>　「金閣寺なう」「I'm at 金閣寺」</p>
  <p>　　→ツイート投稿者が金閣寺にいることは分かりますが、金閣寺の様子は分からないのでNGです。</p>
  <br>
  <p><font color="blue">承認されない</font>ツイートの例②</p>
  <p>　「(京都 烏丸) この時期だけのマリベルの限定スクエアパンケーキ！」</p>
  <p>　　→広告は京都に関係あってもNGです。</p>
</div>
<br>
<%= link_to '収集開始', new_tweet_insert_path, class: 'btn btn-primary btn-lg' %>
<%= link_to '戻る', root_path, class: 'btn btn-warning btn-lg' %>