<br>
<h1>京都の様子が分かるツイートの収集</h1>
<div style="font-size:12pt;">
  <p>初めて作業をする人は必ずチュートリアルを見てください。（所要時間：約3分）</p>
</div>
<br>
<%= link_to '収集開始', new_tweet_insert_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'チュートリアル', tutorial_tutorial_insert_path, class: 'btn btn-success btn-lg' %>
<%= link_to '戻る', root_path, class: 'btn btn-warning btn-lg' %>