<br><br>

<%= link_to '戻る', home_index_path %><br><br>

<p style="font-size:12pt;"><%= @tweet.text %></p>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>不適切だと判断された理由</th>
  </tr>
  </thead>
  <tbody>
  <% @reason.each do |r| %>
      <tr>
        <td><%= r.message %></td>
      </tr>
  <% end %>
  </tbody>
</table>